modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["sqlite"]

[deployment]
deploymentTarget = "gce"
run = "node index.js"
build = ["sh", "-c", "npm install"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[agent]
integrations = ["javascript_database==1.0.0"]
