modules = ["nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"
run = "node index.js"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
integrations = ["javascript_database==1.0.0"]
